<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-disposable-generator" value="./local-packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-disposable-generator">
      <package pattern="DisposableGenerator" />
    </packageSource>
  </packageSourceMapping>
</configuration>
